What are UNT's English Language Requirements?(International)

How to demonstrate proof of English language proficiency (ELP)

	- All international applicants to UNT must show proof of English language proficiency in one of the following ways.

1. Citizenship of one of these approved English-speaking countries:

	-Anguilla
	-Antigua/Barbuda
	-Australia
	-Bahamas
	-Barbados
	-Belize
	-Bermuda
	-British Guyana
	-Canada (except Quebec)
	-Cayman Islands
	-Dominica
	-Falkland Islands (Islas Malvinas)
	-Grenada
	-Guam
	-Guyana
	-Ireland
	-Jamaica/other West Indies
	-Liberia
	-Montserrat
	-New Zealand
	-South Africa
	-St. Helena
	-St. Kitts & Nevis
	-St. Lucia
	-St. Vincent
	-Trinidad & Tobago
	-Turks & Caico Isle
	-United Kingdom
	-Virgin Islands



2. Degree or courses completed at an accredited institute in the U.S. or in one of the approved English-speaking countries

Submit official transcripts showing courses, graduation, and/or degree earned from:

	-High school/Secondary school
		-Graduation + 3 years attendance (includes U.S. Department of Defense school)

	-College/University
		-Completion of Associate’s, Bachelor’s, Master’s, or Doctorate degree

		-Completion of two university-level, academic English courses (excludes English as a Second Language courses) 
		for a total of 6 credit hours with a grade of C or higher in both courses

		-Completion of 30+ hours of university-level, academic coursework with an overall GPA of 2.25 or equivalent. 
		Student must be enrolled at the time of application and must have maintained continuous enrollment prior to their transfer to UNT.



3. English Language/English Proficiency Exam

High school/Secondary school exams:

	- Exam -> AP (Advanced Placement):

		- Minimum Score Required:Score of 5 in English Language & Composition

		- Documentation Needed: Submit official score report

	- Exam -> IB (International Baccalaureate):

		- Minimum Score Required:Grade 5 on the Higher-Level English A1 subject

		- Documentation Needed:Submit official score report
	
	- Exam -> Cambridge International Education (CIE) & Exams GCE/GCSE/IGCSE (International) General Certificate of (Secondary) Education:

		- Minimum Score Required:C of higher in English Language or English First Language

		- Documentation Needed:Submit official score report

	- Exam -> WAEC/WASSCE West Africa Examination Council/West African Senior School Certificate Examination:

		- Minimum Score Required:B (2,3) or higher in English Language

		- Documentation Needed:Submit official score report through the WAEC digital platform at WAEC.org

	- Exam -> NECO(National Examinations Council):

		- Minimum Score Required: B (2,3) or higher in English Language

		- Documentation Needed: Submit token with official score report

	- Exam -> KCSE(Kenya Certificate of Secondary Education):

		- Minimum Score Required:B (8,9,10) or higher in English Language

		- Documentation Needed:Submit official score report

	- Exam -> SAT 1:

		- Minimum Score Required:560 or higher on both Critical Reading and Writing

		- Documentation Needed: Submit official score report from College Board, reporting code 6481

	- Exam -> ACT:

		- Minimum Score Required:21 or higher in English

		- Documentation Needed:Submit official score report through ACT, reporting code 4136



English Proficiency Exams:

	- Exam -> TOEFL iBT(excludes MyBest score):

		- Minimum Score Required:79

		- Documentation Needed:Submit scores electronically through ETS; school code 6481

	- Exam -> IELTS(Academic):

		- Minimum Score Required:6.0 overall band

		- Documentation Needed:Submit scores electronically through the testing service
	
	- Exam -> PTE(Pearson Test of English):

		- Minimum Score Required:53

		- Documentation Needed:Submit scores electronically through Pearson

	- Exam -> DET(Duolingo English Test):
		
		- Minimum Score Required:100

		- Documentation Needed:Submit scores electronically through Duolingo

	- Exam -> MET (4-skill exam) Michigan English Test:

		- Minimum Score Required:B (2,3) or higher in English Language

		- Documentation Needed:Submit scores electronically through the testing service

	- Exam -> Cambridge C1 Advanced/C2 Proficiency:

		- Minimum Score Required:C1

		- Documentation Needed:Submit scores through the Cambridge Assessment Platform


-Please allow up to 10 business days for your To Do list to be updated after score submission.

-When submitting scores, please ensure that the name and birthdate on your score report match the information on your application.

-Test scores expire after 2 years. Tests must be taken within two years prior to applying.

-Expired scores are accepted for students who have been continuously enrolled at a college or university in the U.S. since before the scores expired. 

	**Students must submit official score reports.




4. UNT’s Intensive English Language Institute (IELI)

	-Completion of level 6
	-See international.unt.edu/ieli for program information
	-Coursework from other Intensive English Programs does not meet UNT’s ELP requirement